<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="Migrator" connectionString="Integrated Security=SSPI;Server=.;Application Name=Dojo;database=Dojo" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>